@font-face {
  font-family: oasis;
  src: url(../font/OASIS.ttf);
}
.navbar{
	background-color: #000;
}
.nav-link{
	font-size: 20px;
}

section#about{
	padding-top: 5rem;
}
section#galeri{
	padding-top: 5rem;
}
.carousel-inner .item{
height:500px;
background-size:cover;
background-position: center center;
}

