@font-face {
  font-family: oasis;
  src: url(../font/OASIS.ttf);
}

.navbar{
	background-color: #000;
	box-shadow: 0 2px 3px black
}
.nav-link{
	font-size: 20px;
}

.jumbotron{
	background-image: url(../img/oKJhLoR-oasis-wallpaper.jpg);
	height: 100vh;
	color: white;
	background-position: 0 -100px;
	background-size: cover;
}
.jumbotron h1{
	font-size: 7rem;
	padding-top: 5rem;
	font-family: oasis;
	text-shadow: 2px 2px black;
}

section#about{
	padding-top: 5rem;
}